@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
*{ 
    padding: 0;
    margin: 0;
    font-family: Old Standard TT;
    box-sizing: border-box;
} 
html
{
    scroll-behavior: smooth;
}

.hr{
    width: 100%;
    height: 1px;
    margin: auto;
    margin-bottom:40px ;
    border: 1px solid #E7BE57;
    display: none;
}
.hero
{
    height: 100vh;
    width: 100%;
    background-image: url(bilder/Marlex\ \(3\).png);
    background-size: cover;
    background-position: center;
}

.mobile-image{
    display: none;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo
{
    color: #E7BE57;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li
{
list-style-type: none;
display: inline-block;
padding: 10px 25px;
}
nav ul li a
{
color: #E7BE57;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
}
nav ul li a:hover
{
    color: blanchedalmond;
    transition: .4s;
}

.content
{
 position: absolute;
 top: 50%;
 left: 8%;
 transform: translateY(-50%);   
}
h1
{
    color: blanchedalmond;
    margin: 20px 0px 20px;
    font-size: 40px;
}
h3
{
    color: blanchedalmond;
    font-size: 25px;
    margin-bottom: 50px;
}
h4
{
color: #E7BE57;
letter-spacing: 2px;
font-size: 20px;
}
.about
{
    width: 100%;
    padding: 100px;
    background-color: #191919;
}

.about .IMG
{
width: 430px;
height: auto;

}
.about-text
{
  width: 550px;
}
.main
{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2
{
    color: #E7BE57;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p
{
color: white;
letter-spacing: 1px;
line-height: 28px;
font-size: 18px;
margin-bottom: 45px;
}
.about-text a
{
    background-color: #E7BE57;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
.about-text a:hover
{
    background-color: transparent;
 border: 2px solid #E7BE57;  
 cursor: pointer; 
 color: #E7BE57;
}

.services
{
    background: #101010;
    width: 100%;
    padding: 100px 0 0 0;
}
.title{
    width: 70%;
    margin: auto;
    color: #E7BE57;
}
.title h2
{
    color: #E7BE57;
    font-size: 70px;
    margin: 30px auto;
    text-align: center;
}
.box
{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
    
}
.box .card
{
  width: 335px;
  padding: 20px;
  background: #191919; 
  margin: 20px;
  border-radius: 40px;
  margin-bottom: 100px;
}
.box .card .p
{
    position: relative;
    height: 215px;
    overflow: hidden;
}
.box .card.active .p
{
    height: auto;
}
.box .card .p::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(transparent,#191919) ;
}
.box .card.active .p::before
{
    display: none;
}
.box .card .p h5
{
    color: white;
    font-size: 23px;
    margin-bottom: 10px;
}
.box .card .p p
{
    color: rgba(242, 220, 180, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.box .card .more
{
    position: relative;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    background-color: #E7BE57;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s; 
}
.box .card .more:hover
{
    background-color: transparent;
    border: 2px solid #E7BE57;  
    cursor: pointer; 
    color: #E7BE57;   
}
.box .card .more::before
{
    content: 'Läsa Mer';

}
.box .card.active .more::before
{
    content: 'Läsa Mindre';
}

.Kontakta-Mig
{
    width: 100%;
    height: 100vh;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), black), url(bilder/k.p.png);
    background-position: center;
    background-size: cover;
}


form
{
  width: 90%;
  max-width: 600px;
}
.input
{
    margin-bottom: 30px; 
    position: relative;
} 
input, textarea
{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #E7BE57;
    color: #fff;
    background: transparent;
    font-size: 15px;
}  
label
{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text; 
  transition: 0.2s; 
} 

button
{
  background-color: #E7BE57;
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  margin-bottom: 40px;
 }
 button:hover
 {
   background-color: transparent;
   border: 2px solid #E7BE57;  
   cursor: pointer; 
   color: #E7BE57;
}
input:focus~label,
input:valid~label
{
    top: -35px;
    font-size: 14px;
}
textarea:focus~label,
textarea:valid~label
{
    top: -35px;
    font-size: 14px;
}
.row
{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.row .input
{
    flex-basis: 48%;
}

.Kontakta-Mig p
{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.Kontakta-Mig .button-two
{
    background-color: #E7BE57;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;   
}
.Kontakta-Mig .button-two:hover
{
 background-color: transparent;
 border: 2px solid #E7BE57;  
 cursor: pointer; 
 color: #E7BE57;
}

@media only screen and (max-width: 1170px) {
    .hr{
        display: block;
    }
    .hero{
        background-image:none;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .mobile-image{
        display: block;
        height: 200px;
        width: 300px;
        background-image: url(bilder/image\ \(2\).png);
        background-size: cover;
        background-position: center;
        margin: 20px auto;

    }
    nav ul li{
        padding: 10px 5px;
    }
    .content{
        position:inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .content h1{
        text-align: center;
    }

    .about{
        padding: 0;
        padding: 20px 0;
    }
    .about .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        word-wrap: break-word;
        width: 80%;
        margin: auto;
    }
    .about .main::before{
        content: "Om Mig";
        color: #E7BE57;
        font-size: 50px;
        text-transform: capitalize;
        margin-top: 20px;
    }
    .about .main img{
        width: 182px;
        height: 230px;
    }
    .about-text h2{
        display: none;
    }
    .about-text{
        width: auto;
    }
    .about-text p{
        color: white;
        margin-top: 30px;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.04em;
    }
    button{
       display: inline; 
    }

    .services
    {
    background: black;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    .title h2
    {
        width: 100%;
        margin: auto;
        font-size: 40px;
        margin: auto;
        color: #E7BE57;
    }
    .box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        
    }
    .box .card{
        height: auto;
        width: 90%;
        padding: 10px 15px;
        background: #191919; 
        border-radius: 35px;
    }
    .box .card i{
        display: none;
    }
    .box .card h5{
        font-size: 16px;
        margin-bottom: 15px; 
    }
    .box .card .p{
        width: 100%;
    }
    .box .card .p p
    {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 25px;
        text-align: left;
        color: white;
    }
    
}